*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins,sans-serif';
}
.sign-bg{
  background-color: rgb(231, 111, 225);
  width: 100Wv;
  background-attachment: fixed;
}
#form{
  width:400px;
  margin:15vh auto 0 auto;
  border-radius: 5px;
  padding:30px;
}
h1{
  text-align: center;
  color: #7e54e2;
}
.input-group{
  display: flex;
  flex-direction: column;
}
.input-group label{
  color: rgb(7, 7, 7);
}
.input-group input{
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5px;
  border: 1px solid rebeccapurple;
}
.input-group input:focus{
  outline: 0;
}
.input-group .error{
  color:rgb(255, 0, 0);
  font-size: 16px;
  margin-top:5px;
}
.input-group.success input{
  border-color: #0cc477;
}
.input-group.error input{
  border-color:rgb(206,67,67);
}

@media only screen and (max-width:600px){
  form{
   
        width:100% !important;
  }
}