*{
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
}
body{
  background-color: aqua;
}
.comment-section{
  top: 200px;
  margin:20px 50px
}

.comment-box{
  margin: 15px 0px;
  padding: 15px;
  border-radius: 10px;
  background-color: #0c0c0c;
  color: rgb(144, 248, 112);
  font-family: 'Open Sans', sans-serif
}
/* login page */
.footer-body {
  width: 100%;
  background-color: aqua;

}
.header a{
  color:rgb(144, 248, 112);
}
.body-bg{
  width: 100%;
  margin-top: 80px;
  margin-left: 30%;
  background-color: aqua;
}
.container .loginFrom{
  background-color: white ;
  width: 350px;
  height: 350px;
  border-radius: 20px;
}
section h4{
  color: #7e54e2;
  margin-top: 20px  ;
}
/* sign page */
#sign-bg{
  width: 100%;
  background-color: aqua; 
}
#sign-box{
background-color: white;
border-radius: 10px;
margin-top: 20px;

}